body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgba(79,51,176,1),rgba(210,53,165));
  }
  
  #calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
    height: 500px;
    width: 300px;
    margin: 50px auto;
    border: 1px solid #000;
    border-radius: 10px;
    align-items: center;
    background-color: #fff;

  }
  
  button {
    padding: 20px;
    font-size: 30px;
    border: 0;
    margin: 5px;
    border-radius: 30px;
    background-color: #f7acf7;
  }
  
  button:hover {
    background-color: #;
  }
  
  #display {
    grid-column: span 4;
    padding: 10px;
    text-align: right;
    font-size: 60px;
    border: 1px solid #000;
    border-radius: 5px;
  }